body {
    margin: 0;
}

* {box-sizing: border-box;}


.ui-widget-content { 
    position: relative;
    display: inline-block;
    resize: both;
    border: 5px solid rgba(163, 163, 163, 0.729);
    background-color: none;
    border-radius: 20px; 
    padding: 10px;
    padding-bottom: 5px;
    padding-right: 36px;
    min-width: 150px;
    min-height: 50px;
}

#editable {
    border: 2px;
    border-radius: 15px;
    border-color: rgb(33, 33, 33);
    min-height: 50px;
    padding: 10px;
}

button {
    margin: 0;
    min-width: 25px;
    min-height: 10px;
    border-radius: 10px;
    border-color: gray;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}

.button-delete{
    /* width: 100%; */
    height: 25px;
    display: inline;

}

.text-area {
    max-width: 90%;
    border-radius: 10px;
    padding: 5%;
    margin: 10px;
}

.container, .container-inner {
    margin: 0 auto;
    width: 100%;
}

.container {
    max-width: 1350px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.container-inner {
    max-width: 1000px;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em;
    z-index: 9;
    transition: 0.7s;
    color: #fff;
}

.brand {
    font-size: 1.6em;
    display: inline;
}

#new_block_button {
    width: 100%;
}

nav .container-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    }

nav .container ul {
    width: 100%;
    margin: 0 1em;
}    

nav .container ul:nth-child(2) {
    text-align: right;
}

nav .container ul li {
    display: inline-block;
    margin: 0 0.7em;
}

nav a {
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.3s;
    font-weight: 600;
    color:black;
}

.input-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
}

form input,
form button {
    background: none;
    border: none;
    color: black;
}

form button {
    cursor: pointer;
}

form input::placeholder {
    color: black;
}

form input:focus {
    outline: none;
}


