.ui-widget-content { 
    position: relative;
    display: inline-block;
    resize: both;
    border: 5px solid rgba(66, 66, 66, 0.971);
    background-color: none;
    border-radius: 20px; 
    min-width: 150px;
    min-height: 150px;
}

#editable {
    border: 2px;
    border-radius: 15px;
    border-color: rgb(33, 33, 33);
    min-height: 50px;
    padding: 10px;
}

button {
    margin: 10px;
    min-width: 25px;
    min-height: 10px;
    border-radius: 2px;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    left: 50%;
}