<!DOCTYPE html>
<html lang="en">
<script src="https://unpkg.com/htmx.org@1.9.6"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $( function() {
          $( "#draggable" ).draggable();
        } );
    </script>
</head>
<body class="body">
    <header>
        <nav>
            <div class="container">
                <div class="brand">
                    <a href="#" class="brand">Substrate</a>
                    <button id="new_block_button"
                        type="button" 
                        hx-post="/add/block"
                        hx-target="#body-div"
                        hx-swap="afterend">
                        <img src="/static/images/plus-main.svg" width="20px" height="20px"></img> Kernel
                    </button>
                </div>
                <div class="container-inner">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <i class="fas fa-bars" id="menu-btn">
                    <li><a href="#">Sign in</a></li>
                    <img src="/static/images/menu.svg" width="40px" height="40px"></img>
                </i>
            </div>
        </nav>
    </header>
    <div id="body-div"></div>
</body>